* {

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 150vw;
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#txt {

  width: 150px;
  height: 30px;
  margin-left: 10px;
}

#btn {

  width: 30px;
  height: 40px;

  box-shadow: none;
  background: purple;
  color: white;
}

.canvas {

  width: 500px;
  height: 400px;
}

.canvas2 {

  width: 1000px;
  height: 1000px;
  position: relative;
  top: 150px;
}

select {

  width: 150px;
  height: 30px;
  margin: 15px;
}
